In [1]:
%reload_ext autoreload
%autoreload 2
%matplotlib inline
%config InlineBackend.figure_format='retina'

from __future__ import absolute_import, division, print_function

import pandas as pd
import numpy as np
import os
import csv
import itertools
import statsmodels.api as sm
import statsmodels.formula.api as smf
import statsmodels.tsa.api as smt
from statsmodels.tsa.stattools import adfuller
from pandas import datetime
from statsmodels.tsa.statespace.sarimax import SARIMAX
from statsmodels.graphics.tsaplots import plot_acf,plot_pacf
from sklearn.metrics import mean_squared_error
from math import sqrt
# Display and Plotting
import matplotlib.pylab as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder, minmax_scale, MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from ipywidgets import interactive, widgets, RadioButtons, ToggleButton, Select, FloatSlider, FloatRangeSlider, IntSlider, fixed

print(os.listdir("../input"))

pd.set_option('display.float_format', lambda x: '%.5f' % x) # pandas
np.set_printoptions(precision=5, suppress=True) # numpy

pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows', 100)


sns.set(style='ticks', context='poster')

['BITS AIC 2019 - Reflexis Raw Dataset.csv', 'Store Attributes - Store Attributes.csv']

In [ ]:
def sarima_forecast(history, config):
    order, sorder, trend = config
    # define model
    model = SARIMAX(history, order=order, seasonal_order=sorder, trend=trend, enforce_stationarity=False, enforce_invertibility=False)
    model_fit = model.fit(disp=False)
    yhat = model_fit.predict(len(history), len(history))
    return yhat[0]

In [ ]:
def measure_rmse(actual, predicted):
    return sqrt(mean_squared_error(actual, predicted))

In [ ]:
df = pd.read_csv('../input/BITS AIC 2019 - Reflexis Raw Dataset.csv')
df['month'] = pd.DatetimeIndex(df['DATE']).month
df['DATE'] = pd.to_datetime(df['DATE'])
df = df.set_index('month')
df

In [9]:
df.dropna()

AttributeError: Cannot access callable attribute 'dropna' of 'DataFrameGroupBy' objects, try using the 'apply' method

In [6]:
#setting seasons
df = df.groupby('month')
df.head()

,STORE,DATE,TRAFFIC_ACTUAL,TRANSACTIONS_ACTUAL,SALES_ACTUAL,MANAGER_SCHED_HOURS,SYSTEM_SCHED_HOURS
month,,,,,,,
1,203,2016-01-31,180,37,2243.07000,26.00000,20.50000
2,203,2016-02-01,49,22,424.50000,28.50000,29.75000
2,203,2016-02-02,85,20,878.20000,31.50000,25.50000
2,203,2016-02-03,84,25,937.80000,25.50000,27.50000
2,203,2016-02-04,69,13,572.70000,25.75000,27.25000
2,203,2016-02-05,53,8,384.50000,30.25000,31.50000
3,203,2016-03-01,99,24,890.80000,24.50000,23.50000
3,203,2016-03-02,99,25,1197.95000,24.00000,24.50000
3,203,2016-03-03,80,32,1247.95000,26.50000,24.75000
3,203,2016-03-04,122,39,1315.28000,26.25000,28.75000
3,203,2016-03-05,319,72,2075.27000,32.50000,30.00000
4,203,2016-04-01,97,28,1100.50000,28.50000,44.50000
4,203,2016-04-02,256,44,2510.37000,36.50000,42.00000
4,203,2016-04-03,149,26,2196.90000,20.00000,23.00000
4,203,2016-04-04,37,10,549.75000,23.75000,23.75000
4,203,2016-04-05,68,14,680.00000,24.50000,24.25000
5,203,2016-05-01,157,31,2116.42000,21.00000,16.00000
5,203,2016-05-02,85,22,1450.38000,24.00000,27.25000
5,203,2016-05-03,102,33,1918.26000,24.00000,24.00000
5,203,2016-05-04,100,27,1870.66000,23.75000,28.25000
5,203,2016-05-05,173,56,2865.32000,24.25000,32.25000
6,203,2016-06-01,59,11,446.20000,24.50000,24.00000
6,203,2016-06-02,63,26,1166.32000,23.00000,23.00000
6,203,2016-06-03,111,34,1964.99000,23.50000,23.50000
6,203,2016-06-04,162,49,1471.96000,28.00000,35.75000
6,203,2016-06-05,162,48,2221.26000,20.50000,24.00000
7,203,2016-07-01,154,49,2508.67000,24.50000,27.50000
7,203,2016-07-02,170,48,2783.52000,30.50000,30.00000
7,203,2016-07-03,113,32,1274.62000,17.50000,29.75000
7,203,2016-07-04,106,22,1033.22000,22.50000,29.00000
7,203,2016-07-05,162,33,1278.69000,25.00000,27.00000
8,203,2016-08-01,149,26,1696.92000,24.00000,24.75000
8,203,2016-08-02,201,34,1529.58000,24.00000,29.50000
8,203,2016-08-03,124,17,440.00000,24.00000,24.75000
8,203,2016-08-04,202,56,3821.28000,42.00000,22.50000
8,203,2016-08-05,184,48,2691.08000,37.50000,23.00000
9,203,2016-09-01,224,43,1086.48000,24.00000,16.50000
9,203,2016-09-02,258,72,2756.79000,22.50000,13.50000
9,203,2016-09-03,300,56,2614.47000,25.50000,28.00000
9,203,2016-09-04,242,51,1934.20000,21.00000,19.75000
9,203,2016-09-05,486,92,4746.75000,22.00000,28.00000
10,203,2016-10-01,229,31,713.25000,26.50000,30.00000
10,203,2016-10-02,131,9,268.80000,18.00000,17.75000
10,203,2016-10-03,52,9,199.50000,23.00000,22.25000
10,203,2016-10-04,55,8,528.00000,22.00000,16.50000
10,203,2016-10-05,60,8,246.00000,23.50000,15.50000
11,203,2016-11-01,61,9,666.20000,23.00000,20.25000
11,203,2016-11-02,64,15,233.34000,22.50000,15.50000
11,203,2016-11-03,76,17,333.28000,22.50000,18.50000
11,203,2016-11-04,105,17,1172.90000,22.25000,22.25000
11,203,2016-11-05,241,36,1632.35000,27.25000,30.50000
12,203,2016-12-01,91,30,1730.98000,24.00000,22.50000
12,203,2016-12-02,156,48,2095.62000,27.00000,22.25000
12,203,2016-12-03,355,89,3984.13000,33.50000,33.50000
12,203,2016-12-04,206,58,2896.05000,36.00000,20.00000
12,203,2016-12-05,168,54,2840.11000,26.00000,18.25000
1,203,2017-01-01,131,32,-2.97000,18.50000,26.75000
1,203,2017-01-02,267,56,890.32000,25.00000,21.00000
1,203,2017-01-03,88,29,-19.85000,33.00000,22.00000
1,203,2017-01-04,98,31,1016.25000,20.50000,24.75000

In [ ]:
print('Max sales = ', df['SALES_ACTUAL'].max())
print('Number of records =', len(df))
df.head()

In [ ]:
result = adfuller(X)
print('ADF Statistic: %f' % result[0])
print('p-value: %f' % result[1])
print('Critical Values:')
for key, value in result[4].items():
    print('\t%s: %.3f' % (key, value))

In [ ]:
#Test and training split
X_train, X_test, Y_train, Y_test = train_test_split(data[['STORE','MANAGER_SCHED_HOURS','SYSTEM_SCHED_HOURS']],data['SALES_ACTUAL'], shuffle=False)

In [ ]:
class MetricsCheckpoint(Callback):
    """Callback that saves metrics after each epoch"""
    def __init__(self, savepath):
        super(MetricsCheckpoint, self).__init__()
        self.savepath = savepath
        self.history = {}
    def on_epoch_end(self, epoch, logs=None):
        for k, v in logs.items():
            self.history.setdefault(k, []).append(v)
        np.save(self.savepath, self.history)
        
class MetricsCheckpoint(Callback):
    """Callback that saves metrics after each epoch"""
    def __init__(self, savepath):
        super(MetricsCheckpoint, self).__init__()
        self.savepath = savepath
        self.history = {}
    def on_epoch_end(self, epoch, logs=None):
        for k, v in logs.items():
            self.history.setdefault(k, []).append(v)
        np.save(self.savepath, self.history)

def plotKerasLearningCurve():
    plt.figure(figsize=(10,5))
    metrics = np.load('logs.npy')[()]
    filt = ['mean_absolute_percentage_error'] # try to add 'loss' to see the loss learning curve
    for k in filter(lambda x : np.any([kk in x for kk in filt]), metrics.keys()):
        l = np.array(metrics[k])
        plt.plot(l, c= 'r' if 'val' not in k else 'b', label='val' if 'val' in k else 'train')
        x = np.argmin(l)
        y = l[x]
        plt.scatter(x,y, lw=0, alpha=0.25, s=100, c='r' if 'val' not in k else 'b')
        plt.text(x, y, '{} = {:.4f}'.format(x,y), size='15', color= 'r' if 'val' not in k else 'b')   
    plt.legend(loc=4)
    plt.axis([0, None, None, None]);
    plt.grid()
    plt.xlabel('Number of epochs')
    plt.ylabel('MAPE')
    
def plot_learning_curve(history):
    plt.figure(figsize=(8,8))
    plt.subplot(1,2,1)
    plt.plot(history.history['mean_absolute_percentage_error'])
    plt.plot(history.history['val_mean_absolute_percentage_error'])
    """plt.plot(scalar.inverse_transform(history.history['loss']))
    plt.plot(scalar.inverse_transform(history.history['val_loss']))"""
    plt.title('model MAPE')
    plt.ylabel('MAPE')
    plt.xlabel('epoch')
    plt.legend(['train', 'test'], loc='upper left')
    plt.savefig('./accuracy_curve.png')
    #plt.clf()
    # summarize history for loss
    plt.subplot(1,2,2)
    plt.plot(history.history['loss'])
    plt.plot(history.history['val_loss'])
    plt.title('model loss')
    plt.ylabel('loss')
    plt.xlabel('epoch')
    plt.legend(['train', 'test'], loc='upper left')
    plt.savefig('./loss_curve.png')

In [ ]:
#General scheme for feature visaulization is to iterate over all possible inputs
store_no = 203
max_input = [[[store_no, 0.0,0.0]]]
For i in range(24*7*4):
    For j in range(24*7*4):
        if (lstm_model.predict([[[store_no, float(i)/4.0, float(j)/4.0]]])[0]>lstm_model.predict(max_input)[0]):
            max_input = [[[store_no, float(i)/4.0, float(j)/4.0]]]